
<div class="col-sm-12 col-lg-12 mb-1"
*ngFor="let post of PostsList">
  <div class="card p-3">
    <figure class="p-3 mb-0">
      <blockquote class="blockquote">
        <a [routerLink]="['/posts-edit/', post.id]">
          <h1>{{post.title}}</h1>
        </a>
      </blockquote>
      <blockquote class="blockquote">
        <p>{{post.body}}
        </p>
      </blockquote>
      <figcaption class="blockquote-footer mb-0 mt-1 text-muted text-center">
        Yazar haqqinda <cite title="Yazarov Yazar">{{post.userId}}</cite>
      </figcaption>
    </figure>
  </div>
</div>
